<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comandapp.comandappcliente" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presentacion.actividades.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.actividades.BusquedaBar"></activity>

        <activity android:name=".presentacion.actividades.BaresFavoritos"
            android:label="Bares Favoritos"></activity>
        <activity android:name=".presentacion.actividades.InicioBar"
            android:label="Inicio"></activity>
        <activity android:name=".presentacion.actividades.Carta_bar"
            android:label="Carta"></activity>
        <activity android:name=".presentacion.actividades.ComandaDetallada"
            android:label="Comanda Detalles"></activity>
        <activity android:name=".presentacion.actividades.ComandaQR"
            android:label="Comanda QR"></activity>
        <activity android:name=".presentacion.actividades.Ofertas_bar"
            android:label="Ofertas"></activity>
    </application>

</manifest>
